@model HrbiApp.Web.Models.NurseServices.UpdateNurseServiceModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>UpdateNurseServiceModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" class="form-control" hidden/>
            <div class="form-group">
                <label asp-for="ServiceNameAR" class="control-label"></label>
                <input asp-for="ServiceNameAR" class="form-control" />
                <span asp-validation-for="ServiceNameAR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceNameEN" class="control-label"></label>
                <input asp-for="ServiceNameEN" class="form-control" />
                <span asp-validation-for="ServiceNameEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
